{% extends 'base.html.twig' %}

{% block title %}

{{ parent() }} - Ajouter un film

{% endblock %}

{% block body %}


<div id="add-api">


  <div class="container">

    {{ form_start(form) }}

    {{ form_errors(form) }}


    <div class="form-group">
      <i class="icon fa fa-list-ol" aria-hidden="true">
        <p>Nombre de films à ajouter à la base de données</p>
      </i>
      {{ form_errors(form.movie_number) }}
      {{ form_widget(form.movie_number) }}
    </div>

    <div class="form-group">
      <i class="icon fa fa-key" aria-hidden="true">
        <p>Clef API tmdb</p>
      </i>
      {{ form_errors(form.key_api) }}
      {{ form_widget(form.key_api) }}
    </div>

    {{ form_widget(form.submit, {'attr': {'class': 'btn-default'}}) }}




    {% if success %}
    <div class="alert alert-success">
      {{success | raw}}
    </div>
    {% endif %}

    {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {{errors | raw}}
      </ul>
    </div>
    {% endif %}

    {% if alreadyExist %}
    <div class="alert alert-warning">
      <ul>
        {{alreadyExist | raw }}
      </ul>
    </div>
    {% endif %}
    {{ form_end(form) }}
  </div>
  {% endblock %}
