{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}

<div id="add-api">


  <div class="container">

{{ form_start(form) }}
    {{ form_label(form.username) }}
    {{ form_errors(form.username) }}
    {{ form_widget(form.username) }}

    {{ form_label(form.email) }}
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }}

    {{ form_label(form.plainPassword) }}
    {{ form_errors(form.plainPassword) }}
    {{ form_widget(form.plainPassword) }}

    <button type="submit">Register!</button>
{{ form_end(form) }}
</div>
</div>
{% endblock %}
