{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ movie.name }}{% endblock %}

{% block body %}

<div id="film">
  <div class="white-background">
    <div class="container-fluid">

      <!-- TITRE FILM -->
      <div class="row">
        <div class="titles col-12">
          <h1 class="section-title">{{ movie.name }}</h1>
          <hr class="title"/>
          <p class="tag-line">
            {{ movie.tagline }}
            {% if movie.tagline is empty %}
            -
            {% endif %}
          </p>
        </div>

      </div>

      <div class="row justify-content-center image-md">
        <div class="img col-12 col-md-6 col-xl-5">
          <img class="w-100" src="https://image.tmdb.org/t/p/w500{{ movie.picture }}" alt="{{ movie.name }}">
        </div>

        <div class="col-md-6 col-xl-6 titles d-flex align-items-center">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              <h3>Titre Original</h3>
              <hr class="underlinetitle"/>
              <p>
                {{ movie.original_title }}
                {% if movie.original_title is empty %}
                -
                {% endif %}
              </p>
            </div>
            <div class="col-sm-6 col-md-6">
              <h3>Réalisateur(s)</h3>
              <hr class="underlinetitle"/>
              <p>
                {{ movie.director }}
                {% if movie.director is empty %}
                -
                {% endif %}
              </p>
            </div>
            <div class="col-sm-6 col-md-6">
              <h3>Genre(s)</h3>
              <hr class="underlinetitle"/>
              <p>
                {{ movie.type }}
                {% if movie.type is empty %}
                -
                {% endif %}
              </p>
            </div>
            <div class="col-sm-6 col-md-6">
              <h3>Producteur(s)</h3>
              <hr class="underlinetitle"/>
              <p>
                {{movie.producer}}
                {% if movie.producer is empty %}
                -
                {% endif %}
              </p>
            </div>
            <div class="col-sm-6 col-md-6">
              <h3>Date de sortie</h3>
              <hr class="underlinetitle"/>
              <p>
                {{movie.release_date}}
                {% if movie.release_date is empty %}
                -
                {% endif %}
              </p>
            </div>
            <div class="col-sm-6 col-md-6">
              <h3>Note</h3>
              <hr class="underlinetitle"/>
              <p>{{ movie.rating_score}}/10</p>
            </div>
            <div class="col-sm-12 col-md-12">
              <h3>Acteurs</h3>
              <hr class="underlinetitle"/>
              <p>
                {{movie.actors}}
                {% if movie.actors is empty %}
                -
                {% endif %}
              </p>
            </div>
            <div class="col-sm-12 col-md-12">
              <h3>Synopsis</h3>
              <hr class="underlinetitle"/>
              <p>
                {{movie.synopsis}}
                {% if movie.synopsis is empty %}
                -
                {% endif %}
              </p>
            </div>

            {% if currentUser.id is defined %}
            <div class="col-6 offset-3">
              <br/>
              <button class="btn btn-primary w-100 text-uppercase favoritize" type="submit" name="button" id="addToFavorite" data-url="{{ path('show_movie', {'slug': movie.slug})}}" data-movieId="{{ movie.id }}" >Ajouter aux favoris</button>
              <span id="addToFavoriteSuccess"></span>
              <span id="addToFavoriteFailure"></span>
            </div>
            {% endif %}

          </div>
        </div>
      </div>

      <div class="row">
        {% if comments %}
        <div class="col-md-12 commentaires">
          <h3>Vos commentaires</h3>
          <hr/ class="margincom">
          {% for comment in comments %}
          <div>
            <h4 class="comment-title">{{ comment.title }}</h4>
          </div>
          <div>
            <span class="text-right font-italic"> Posté par<a href="" class="pseudo">{{comment.user.username}}</a></span>
            <p class="text-justify">{{comment.comment}}</p>

          </div>
          <hr>
          {% endfor %}

        </div>
        {% endif %}
        {% if currentUser.id is defined %}
        <div class="col-md-12 commentaires">
          <h3>Rédiger un commentaire sur "{{movie.name}}"</h3>
          <hr/ class="title">
          {{ form_start(form) }}
          <div class="form-group">
            {{ form_errors(form.title) }}
            {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder' : "Titre du commentaire"} }) }}
          </div>
          <div class="form-group">
            {{ form_errors(form.comment) }}
            {{ form_widget(form.comment, { 'attr': {'class': 'form-control', 'placeholder' : "Votre commentaire"} }) }}
          </div>
          <button type="submit" class="btn btn-primary w-100 text-uppercase">Envoyer</button>
          {{ form_end(form) }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  {% endblock %}
