{% extends 'base.html.twig' %}

{% block title %}Critique{% endblock %}

{% block body %}

<!-- SECTION 1 -->
<div id="movie-landscape">
   <div class="container-fluid part1landscape">
      <img src="{{asset("uploads/" ~ critique.image)}}" alt="{{critique.title}}" class="cover">
   </div>
   <div class="gradiant text-center">
      <br/>
      <a href="{{path('show_movie', {slug: critique.movie.slug })}}"><h2>{{ critique.movie.name }}</h2></a>

      <hr/>
      <p>Un film réalisé par {{ critique.movie.director }}</p>
   </div>
</div>
<div id="critize1">
   <div class="comment-title text-center">
     <h3 class="text-center">{{ critique.title}}</h3>
      <p>{{ critique.critique }}</p>
      <hr/>
      <h3 class="text-center">Synopsis</h3>
      <p>{{ critique.movie.synopsis }}</p>

      <i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i><i class="fa fa-circle" aria-hidden="true"></i>
      <p>- Critique rédigée par <a class="text-capitalize" href="{{path('show_user', {slug: critique.user.username })}}" >{{critique.user.username}}</a> -</p>
   </div>
</div>





{% endblock %}
