<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Entrackt{% endblock %}</title>


  {% block head_css %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ asset('css/icons.css')}}">
  <link rel="stylesheet" href="{{ asset('css/main.min.css')}}">
  {% endblock %}
  {% block stylesheets %}{% endblock %}
</head>

<body>
  <!-- MENU -->
  <!-- Menu hamburger -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light position-fixed">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto col-md-12 col-lg-4">
        <a class="navbar-brand text-center text-lg-left d-none d-md-block" href="#"><img src="{{asset('img/entrackt-logo.png')}}" alt="Logo Entrackt"></a>
      </ul>
      <span class="navbar-text mr-md-auto ml-md-auto mr-lg-4 text-center d-flex justify-content-center">
        <ul class="navbar-nav ml-auto mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('home')}}">Accueil</a>
          </li>
          <li class="nav-item anim-li">
            <a class="nav-link" href="{{ path('filter_movie') }}">Filtrer</a>
          </li>
          {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item anim-li">
            <a class="nav-link" href="{{ path('add_api') }}">Ajouter des films</a>
          </li>
          <li class="nav-item anim-li">
            <a class="nav-link" href="{{ path('critique_new') }}">Ajouter une critique</a>
          </li>
          {% endif %}
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <li class="nav-item anim-li">
            <a class="nav-link" href="{{ path('show_user', {slug : app.user.slug}) }}">Mon compte</a>
          </li>
          <li class="nav-item anim-li">
            <a class="nav-link" href="{{ path('logout') }}">Se déconnecter</a>
          </li>
          {% else %}
          <li class="nav-item anim-li">
            <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalLong">Inscription / Connexion</a>
          </li>
          {% endif %}


        </ul>
      </span>
    </div>
  </nav>

  <!-- MODAL DE CONNEXION -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="form">

          <!-- BOUTON INSCRIPTION / CONNEXION -->
          <ul class="tab-group">
            <li class="tab active"><a href="#login" class="modalsignup">Connexion</a></li>
            <li class="tab"><a href="#signup" class="modalsignup">Inscription</a></li>
          </ul>

          <div class="tab-content">

            <!-- CONNEXION -->
            <div id="login">
              <form method="post" action="{{ path('login') }}" id="login_form" data-url="{{ path('login') }}">

                <!-- EMAIL -->
                <div class="field-wrap">
                  <label>
                    Pseudo<span class="req">*</span>
                  </label>
                  <input type="text" name="_username" value="{% if last_username is defined %}{{ last_username }} {% endif %}" id ="username" required autocomplete="off"/>
                </div>

                <!-- PASSWORD -->
                <div class="field-wrap">
                  <label>
                    Mot de passe<span class="req">*</span>
                  </label>
                  <input type="password" name="_password" required autocomplete="off"/>
                </div>
                <p id="ajax_error"></p>
                <p class="forgot"><a href="#">Mot de passe oublié ?</a></p>
                <button type="submit" class="button button-block"/>Se connecter</button>
              </form>
            </div>

            <!-- INSCRIPTION -->
            <div id="signup">

              <form name="user" action="{{ path('user_registration') }}" method="post" id="register_form" data-url="{{ path('user_registration') }}">

                <!-- Username -->
                <div class="field-wrap">
                  <label class="labelled">
                    Nom d'utilisateur<span class="req">*</span>
                  </label>
                  <input type="text" id="register-username" class="inputed" required autocomplete="off" name="user[username]"  value="" />
                  <span id="errorUsername" class="register-error"></span>
                  <span id="alreadyTaken" class="register-error"></span>
                </div>

                <!-- EMAIL / PASSWORD -->
                <div class="field-wrap">
                  <label>
                    Email<span class="req">*</span>
                  </label>
                  <input type="email"required autocomplete="off" name="user[email]" value=""/>
                  <span id="errorEmail" class="register-error"></span>
                  <span id="emailNotValid" class="register-error"></span>
                </div>

                <div class="field-wrap">
                  <label>
                    Mot de passe<span class="req">*</span>
                  </label>
                  <input type="password"required autocomplete="off" id="register-password" name="user[plainPassword]" value=""/>
                  <span id="errorPassword" class="register-error"></span>
                  <span id="passwordNotValid" class="register-error"></span>
                </div>

                <!-- ENVOYER -->
                <span id="success" class="register-success"></span>
                <button type="submit" class="button button-block"/>Go !</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% block body %}Aucun bloc body n'a été ajouté au template{% endblock %}
{% block javascripts %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
<script src="{{ asset('js/main.min.js')}}"></script>
</body>
</html>
